<!-- TODO: insert navbar -->
  <div>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon gray-background">
    <%= link_to "OneBite", root_path, class: "onebite-home-orange"  %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="https://calendar.google.com/calendar/" class="nav-link navbar-link-text-orange" target="_blank">Calendar</a>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", user_path(current_user), class: "nav-link navbar-link-text-orange mx-3" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/deyqjsowe/image/upload/v1589709320/Yun_Chung_Profile_Photo_2_rlfgi5.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Help", "#", class: "dropdown-item" %>
            <%= link_to "Log Out", "#", destroy_user_session_path(current_user), method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- BEGINNING - search form to look for a friend  -->
<%= form_tag users_path, class: "navbar-searchbar mt-4 mb-3 mx-auto", method: :get do %>
<div class="d-flex index-searchbar">

  <%= text_field_tag :query, params[:query], class: "form-control banner-searchbar-round index-searchbar", placeholder: "Find friends to follow" %>
  <%= submit_tag "Find Friends", class: "btn btn-primary index-searchbar banner-searchbar-roundbutton" %>
<% end %>
</div>
  <!-- form taken from the lecture on Search  -->
<!--   <%#= form_tag users_path, method: :get do %>
    <%#= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find a friend" %>
    <%#= submit_tag "Search", class: "unfollow-button" %>
  <%# end %> -->
<!-- END - search form to look for a friend  -->



<!-- BEGINNING - the list of friends from the search in show.html.erb -->
<%# raise %>
<div class="users-index-container container">
<!--   <h1>Find your friends</h1>
 -->  <div class="row">
    <div class="col-sm-8 offset-sm-2">

      <div id="users">
        <% @users.each do |user| %>
          <div class="card-courses-users-index m-3">
            <div>
              <img class="mx-3 avatar-users-index-bordered-new" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
            </div>

            <div class="card-courses-index-infos justify-content-around results-info-left">
              <h2 class="index-card-title-font user-index-card-name"><%= link_to user.name.capitalize.to_s, user_path(user), class: "user-index-card-name" %></h2>

              <div class="d-flex">
                <p class="index-card-description-user-font"><%= rand(100) %>-day streak  |</p>
              <% user.badges.each do |badge| %>
                <p><<%= badge.name %></p>
              <% end %>
              <p>| <%= user.points + rand(1..15) %> points</p>
              </div>

              <!-- test for Merit gem, badges and points -->

              <div class="d-flex">
                <% if user.courses == [] %>
                  <p class="mr-3 new-course-title">Currently not enrolled in any courses.</p>
                <% elsif user.courses %>
                  <% user.courses.each do |course|  %>
                    <%= link_to course.title, course_path(course), class: "mr-3 new-class-url-link", target: :_blank %>
                  <% end %>
                <% end %>
              </div>
<!--
<a href="<%#= course_path %>" class="new-class-url-link" target="blank"><p class="mr-3 new-course-title"><%#= course.title %></p></a> -->



              <!-- test ends -->

            </div>
            <div class="card-users-index-buttons mx-3">
              <% if current_user.favorited?(user) %>
                <%= link_to "Unfollow", unfollow_user_path(user), class: "button-follow index-card-goto-show-font btn unfollow-button", method: :post, remote: true %>
              <% else %>
                <%= link_to "Follow", follow_user_path(user), class: "index-card-goto-show-font btn btn-onebite-orange button-unfollow", method: :post, remote: true %>
              <% end %>
              <%# raise %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- END - the list of friends from the search in show.html.erb -->

