<h1>Results for your search</h1>
<%= link_to 'Homepage', root_path %>


<% @courses.each do |course| %>
  <div class="card-courses-index">
    <img src="https://i1.wp.com/launcheers.com/wp-content/uploads/2018/03/323b146a54f4e6be71adf4fa2c056374.png?w=797&ssl=1" />
    <div class="card-ourses-index-infos">
      <h2><%= course.title %></h2>
      <p><%= course.description %></p>
      <p><%= course.rating %></p>
      <p><%= course.difficulty %></p>
      <p><%= course.expected_time_to_complete %></p>
      <p><%= link_to "See course show page", course_path(course) %></p>
      <p><%= link_to "Go to course page on #{course.platform.name}", course.url  %></p>
    </div>
  </div>
<% end %>

