<div>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon gray-background">
    <%= link_to "OneBite", root_path, class: "onebite-home-orange"  %>

        <%= form_tag courses_path, class: "navbar-searchbar mx-3", method: :get do %>
      <div class="d-flex">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control banner-searchbar-round",
          placeholder: "What would you like to learn?"
          %>
          <%= submit_tag "Search", class: "btn btn-primary banner-searchbar-roundbutton" %>
        <% end %>
      </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Lessons", "#", class: "nav-link navbar-link-text-orange" %>
        </li>
        <li class="nav-item">
          <%= link_to "Profile", "#", class: "nav-link navbar-link-text-orange mx-3" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/deyqjsowe/image/upload/v1590485005/default-avatar_snqmu9.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

  


<div class="container my-5 ">
  <h2 class="results-h2 text-center">Recommended Courses</h2>
  <% @courses.each do |course| %>
    <div class="card-courses-index m-3">
      <img src="https://res.cloudinary.com/deyqjsowe/image/upload/v1590563366/squarecodecademylog_kxokkd.png" />
      <div class="card-courses-index-infos justify-content-around results-info-left">
        <h2 class="index-card-title-font"><%= course.title %></h2>
        <p class="index-card-description-font"><%= course.description %></p>
        <p class="index-card-time-font">Time to complete: <%= course.expected_time_to_complete %> hours</p>
        <%= link_to "See details", course_path(course), class: "index-card-goto-show-font btn btn-onebite-orange" %>
        <p class="index-card-rating-font"><%= course.rating %></p>
        <p class="index-card-diff-font"><%= course.difficulty %></p>
      </div>
      <div class="results-info-right">
        <%#= link_to "#{course.platform.name}", course.url, class: "btn btn-outline-dark" %>
      </div>
    </div>
  <% end %>
</div>
